* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: "Inter", sans-serif !important;
}

/* Hide scrollbar for Webkit/Blink */

*::-webkit-scrollbar {
  display: none;
}
