* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
  font-family: "Inter", sans-serif !important;
}

/* Hide scrollbar for Webkit/Blink */

*::-webkit-scrollbar {
  display: none;
}

.admin-column {
  .arrow-icon {
    transition: transform 0.3s ease-in-out;
  }
}

.admin {
  .arrow-icon {
    transform: rotate(-180deg);
  }
}
